.container{
  background-color:purple;
  width:50%;
  margin:auto;
  height:800px;

}
.header{
  text-align:center;
  padding:15px;
  color:white;
}
.body{
  background-color:black;
  width:100%;
  height:650px;
  text-align:center;
}
li{
  display:inline-block;

}
.fa fa-circle{
  float:left;
}
.contact{
  color:white;
  font-size:24px;
  font-weight:400;
  text-align:center;
  margin:auto;
  width:50%;
  
  
}

.btn{
  background-color:white;
  padding:8px;
  float:right;
  border-radius:10px;
  margin:2px;
  width:80px;
}

.content {
  margin-left:60px;
  margin-right:60px;
  color:white;
  text-align: center;
}


.search{
  padding:10px;
  width:60%;
  border-radius:10px;
  margin-bottom:25px;
  
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
